<div class="app-wrapper">

    <section class="control">
        <div class="mic-control-wrapper">
            <div class="button-wrapper">
                <button class="btn btn-mic" (click)="clickMic()" [ngClass]="{'active': service_mic.isMic}">MIC</button>
                <button class="btn btn-destination" (click)="clickDestination()" [ngClass]="{'active': service_mic.isDestination}">
                    <div class="icon-wrapper icon-destination">
                        <i class="fa" [ngClass]="{'fa-volume-off': service_mic.isDestination === false, 'fa-volume-up': service_mic.isDestination === true}" aria-hidden="true"> </i>
                    </div>
                </button>
            </div>
            <div class="analyze-wrapper">
                <canvas id="analyze" class="analyze"></canvas>
            </div>
        </div>


        <div class="area-middle">
            <div class="button-wrapper">
                <button class="btn btn-stop" (click)="stopSound()">
                    <div class="icon-wrapper">
                        <i class="fa fa-stop" aria-hidden="true"> </i>
                    </div>
                </button>
            </div>
            <div class="voices-wrapper">
                <button class="btn btn-voice" (click)="clickVoice(1)"></button>
                <button class="btn btn-voice" (click)="clickVoice(2)"></button>
                <button class="btn btn-voice" (click)="clickVoice(3)"></button>
            </div>
        </div>


        <div class="button-wrapper play">
            <button class="btn btn-play dark_blue" [class.active]="service_recording.recording" [class.over]="service_recording.recording && service_play.soundDuration > 0" (click)="clickLooper()">
                <div class="icon-wrapper">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <i class="fa fa-stop" aria-hidden="true"> </i>
                </div>
            </button>
        </div>
    </section>

</div>
