.app-wrapper {
    padding   : 20px;
    width     : 100%;
    height    : 100%;
    overflow  : hidden;
    font-size : 16px;
}

.control {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    width           : 100%;
    height          : 100%;

    .button-wrapper {
        text-align : left;
    }
}

$red : #ff0033;
$green : #32cd32;
$black : #34495e;
$black-shadow : #2c3e50;
$gray : #7f8c8d;
$gray-light : #d3d3d3;
$animation-time : 200ms;

.button-wrapper {
    margin  : 0;
    padding : 0;
    width   : 100%;

    &.play {
        display         : flex;
        justify-content : center;
    }
}

.btn {
    position            : relative;
    top                 : 0;
    display             : flex;
    justify-content     : center;
    border              : 15px solid $gray-light;
    border-radius       : 50%;
    transition-duration : $animation-time;
    transition-property : all;

    &:focus {
        outline : none;
    }

    &:focus {
        border-color : $gray-light;

        .icon-wrapper {
            color : $gray-light;
        }
    }

    &:active {
        position     : relative;
        top          : 6px;
        border-color : $green;

        .icon-wrapper {
            color : $green;
        }
    }

    .icon-wrapper {
        display             : flex;
        flex-direction      : row;
        justify-content     : space-around;
        width               : 50%;
        color               : $gray-light;
        font-size           : 70px;
        transition-duration : $animation-time;
        transition-property : all;

        i {
            flex-grow : 1;
        }
    }
}

.btn-mic,
.btn-edit {
    @extend .black;
    width          : 200px;
    height         : 100px;
    border-radius  : 10px;
    color          : $gray-light;
    font-size      : 36px;
    letter-spacing : 5px;

    &.active {
        border-color : $green;
        color        : $green;
    }
}

.btn-mic {
    width        : 50%;
    border-width : 10px;
}

.btn-stop {
    @extend .black;
    width  : 200px;
    height : 200px;

    .icon-wrapper {
        font-size : 60px;
    }
}

.btn-voice {
    @extend .black;
    width  : 100px;
    height : 100px;
}

.btn-destination,
.btn-play {
    @extend .black;
    width  : 450px;
    height : 450px;

    &.active {
        border-color : $green;

        &:focus {
            border-color : $green;
            .icon-wrapper {
                color : $green;
            }
        }

        &:active {
            border-color : $gray-light;

            .icon-wrapper {
                color : $gray-light;
            }
        }

        .icon-wrapper {
            color : $green;
        }
    }

    &.over {
        border-color : $red;

        &:focus {
            border-color : $red;
            .icon-wrapper {
                color : $red;
            }
        }

        &:active {
            border-color : $gray-light;

            .icon-wrapper {
                color : $gray-light;
            }
        }

        .icon-wrapper {
            color : $red;
        }
    }
}

.btn-destination {
    width        : 100px;
    height       : 100px;
    border-width : 10px;
}

.black {
    box-shadow : 0 6px $black-shadow;
    background : $black;

    &:active {
        box-shadow : 0 0 $black-shadow;
        background : $black;
    }
}

.mic-control-wrapper {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    width           : 100%;

    .analyze-wrapper {
        width : 50%;

        .analyze {
            width  : 100%;
            height : 200px;
            border : 2px solid #34495e;
        }
    }

    .button-wrapper {
        display         : flex;
        flex-direction  : row;
        justify-content : space-around;
        width           : 50%;

        .icon-destination {
            font-size : 50px;
        }
    }
}

.area-middle {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;

    .button-wrapper {
        flex-grow : 1;
        width     : 210px;
    }

    .voices-wrapper {
        display         : flex;
        flex-direction  : row;
        justify-content : space-around;
        flex-grow       : 4;
        align-items     : center;
    }
}
