<div class="app-wrapper">

    <section class="control">
        <div class="button-wrapper">
            <button class="btn btn-mic" (click)="clickMic()" [ngClass]="{'active': service_mic.isMic}">MIC</button>
        </div>

        <div class="button-wrapper">
            <button class="btn btn-stop">
                <div class="icon-wrapper">
                    <i class="fa fa-stop" aria-hidden="true"> </i>
                </div>
            </button>
        </div>

        <div class="button-wrapper play">
            <button class="btn btn-play dark_blue" [class.active]="service_recording.recording" (click)="clickLooper()">
                <div class="icon-wrapper">
                    <i class="fa fa-play" aria-hidden="true"> </i>
                    <i class="fa fa-stop" aria-hidden="true"> </i>
                </div>
            </button>
        </div>
    </section>

</div>
